<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//cn.zefre.mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="org/apache/ibatis/zefre/resources/db.properties"/>

  <environments default="development">

    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="UNPOOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>

  </environments>

  <mappers>
    <mapper resource="org/apache/ibatis/zefre/mapper/xml/UserMapper.xml"/>
<!--    <mapper class="org.apache.ibatis.zefre.mapper.UserMapper"/>-->
  </mappers>

</configuration>
